gd_achievement_system/.import
gd_achievement_system/export_presets.cfg
gd_achievement_system/achievements/data/*
gd_achievement_system/achievements/resources/icons/*
gd_achievement_system/achievements/resources/sounds/*

achievements.json